## Deliverable 2. Create a Customer Travel Destinations Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [10]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
clean_df =city_data_df.dropna(subset=['Country'], inplace=True)
city_data_df.count()

City_ID                666
City                   666
Country                666
Lat                    666
Lng                    666
Max Temp               666
Humidity               666
Cloudiness             666
Wind Speed             666
Current Description    666
dtype: int64

In [11]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 100

In [12]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df ["Max Temp"] <= max_temp) & \
                                       (city_data_df ["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,san patricio,US,28.0170,-97.5169,86.86,71,37,4.43,scattered clouds
2,2,hilo,US,19.7297,-155.0900,72.81,90,75,4.61,broken clouds
9,9,ribeira grande,PT,38.5167,-28.7000,79.20,69,20,10.36,few clouds
18,18,atambua,ID,-9.1061,124.8925,71.37,86,41,6.04,scattered clouds
20,20,guerrero negro,MX,27.9769,-114.0611,71.35,81,78,12.08,broken clouds
23,23,kapaa,US,22.0752,-159.3190,79.12,78,75,17.27,moderate rain
26,26,souillac,MU,-20.5167,57.5167,70.18,68,75,11.50,broken clouds
29,29,butaritari,KI,3.0707,172.7902,82.60,74,9,9.04,clear sky
30,30,pasighat,IN,28.0667,95.3333,78.55,94,99,2.86,overcast clouds
32,32,kahului,US,20.8947,-156.4700,76.26,79,90,6.91,light rain

In [13]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                363
City                   363
Country                363
Lat                    363
Lng                    363
Max Temp               363
Humidity               363
Cloudiness             363
Wind Speed             363
Current Description    363
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# done in step 1

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,san patricio,US,86.86,scattered clouds,28.0170,-97.5169,
2,hilo,US,72.81,broken clouds,19.7297,-155.0900,
9,ribeira grande,PT,79.20,few clouds,38.5167,-28.7000,
18,atambua,ID,71.37,scattered clouds,-9.1061,124.8925,
20,guerrero negro,MX,71.35,broken clouds,27.9769,-114.0611,
23,kapaa,US,79.12,moderate rain,22.0752,-159.3190,
26,souillac,MU,70.18,broken clouds,-20.5167,57.5167,
29,butaritari,KI,82.60,clear sky,3.0707,172.7902,
30,pasighat,IN,78.55,overcast clouds,28.0667,95.3333,
32,kahului,US,76.26,light rain,20.8947,-156.4700,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   363
Country                363
Max Temp               363
Current Description    363
Lat                    363
Lng                    363
Hotel Name             363
dtype: int64

In [18]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))